.vscode/**
.git/**
.gitignore
.gitattributes
tsconfig.json
webpack.config.js
package.bat
src/**
ai_config.json
*.vsix
out/**
package-lock.json
dist/**/*.map
dist/**/*.LICENSE.txt
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/*.d.ts
node_modules/**/*.md
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/obj/**
node_modules/**/bin/**
node_modules/**/LICENSE
node_modules/**/LICENSE.txt
node_modules/**/.bin/**
node_modules/**/README*
node_modules/**/History*
node_modules/**/History.md
node_modules/**/Readme*

